---
import Layout from "../layouts/Layout.astro";
import AboutContent from "../components/AboutContent.tsx";
---

<Layout title="kazuki yoshida | About" currentPath="/about">
  <main class="min-h-screen md:ml-[280px]">
    <AboutContent client:load />
  </main>
</Layout>
