---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.tsx";
---

<Layout title="kazuki yoshida | Blog" currentPath="/">
  <main class="min-h-screen" style="margin-left: var(--sidebar-width);">
    <BlogList client:load />
  </main>
</Layout>
