---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.tsx";
---

<Layout title="kazuki yoshida | Blog" currentPath="/">
  <main class="min-h-screen md:ml-[280px]">
    <BlogList client:load />
  </main>
</Layout>
